USE [master]
GO
/****** Object:  Database [QUANLYNHAHANG]    Script Date: 3/28/2017 1:31:41 PM ******/
CREATE DATABASE [QUANLYNHAHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHAHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYNHAHANG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYNHAHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYNHAHANG_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHAHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHAHANG]
GO
/****** Object:  Table [dbo].[tblBanAn]    Script Date: 3/28/2017 1:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanAn](
	[IDBanAn] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBan] [int] NULL,
	[IDYeuCau] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_tblBanAn] PRIMARY KEY CLUSTERED 
(
	[IDBanAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietPhieuNhap]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPhieuNhap](
	[IDPhieuNhap] [int] NOT NULL,
	[IDThucPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [bigint] NULL,
 CONSTRAINT [PK_tblPhieuNhapThucPham] PRIMARY KEY CLUSTERED 
(
	[IDPhieuNhap] ASC,
	[IDThucPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietYeuCau]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietYeuCau](
	[IDYeuCau] [int] NOT NULL,
	[IDMonAn] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_tblChiTietYeuCau] PRIMARY KEY CLUSTERED 
(
	[IDYeuCau] ASC,
	[IDMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMonAn]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonAn](
	[IDMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[DVT] [nvarchar](50) NULL,
	[IDNhom] [int] NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_tblMonAn] PRIMARY KEY CLUSTERED 
(
	[IDMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhaCungCap]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaCungCap](
	[IDNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNhaCungCap] PRIMARY KEY CLUSTERED 
(
	[IDNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[IDNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Luong] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_tblNhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhomMonAn]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomMonAn](
	[IDNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNhomMonAn] PRIMARY KEY CLUSTERED 
(
	[IDNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuNhap]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuNhap](
	[IDPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[IDNhanVien] [int] NULL,
	[IDNhaCungCap] [int] NULL,
 CONSTRAINT [PK_tblPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[IDPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuYeuCau]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuYeuCau](
	[IDYeuCau] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[IDKhachHang] [int] NULL,
	[SoKhach] [int] NULL,
 CONSTRAINT [PK_tblPhieuYeuCau] PRIMARY KEY CLUSTERED 
(
	[IDYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 3/28/2017 1:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[TenDangNhap] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NULL,
	[IDCapDo] [int] NULL,
	[IDNhanVien] [int] NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblBanAn]  WITH CHECK ADD  CONSTRAINT [FK_tblBanAn_tblPhieuYeuCau] FOREIGN KEY([IDYeuCau])
REFERENCES [dbo].[tblPhieuYeuCau] ([IDYeuCau])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblBanAn] CHECK CONSTRAINT [FK_tblBanAn_tblPhieuYeuCau]
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuNhap_tblPhieuNhap] FOREIGN KEY([IDPhieuNhap])
REFERENCES [dbo].[tblPhieuNhap] ([IDPhieuNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhap] CHECK CONSTRAINT [FK_tblChiTietPhieuNhap_tblPhieuNhap]
GO
ALTER TABLE [dbo].[tblChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietYeuCau_tblMonAn] FOREIGN KEY([IDMonAn])
REFERENCES [dbo].[tblMonAn] ([IDMonAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietYeuCau] CHECK CONSTRAINT [FK_tblChiTietYeuCau_tblMonAn]
GO
ALTER TABLE [dbo].[tblChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietYeuCau_tblPhieuYeuCau] FOREIGN KEY([IDYeuCau])
REFERENCES [dbo].[tblPhieuYeuCau] ([IDYeuCau])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietYeuCau] CHECK CONSTRAINT [FK_tblChiTietYeuCau_tblPhieuYeuCau]
GO
ALTER TABLE [dbo].[tblMonAn]  WITH CHECK ADD  CONSTRAINT [FK_tblMonAn_tblNhomMonAn] FOREIGN KEY([IDNhom])
REFERENCES [dbo].[tblNhomMonAn] ([IDNhom])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblMonAn] CHECK CONSTRAINT [FK_tblMonAn_tblNhomMonAn]
GO
ALTER TABLE [dbo].[tblPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuNhap_tblNhaCungCap] FOREIGN KEY([IDNhaCungCap])
REFERENCES [dbo].[tblNhaCungCap] ([IDNhaCungCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPhieuNhap] CHECK CONSTRAINT [FK_tblPhieuNhap_tblNhaCungCap]
GO
ALTER TABLE [dbo].[tblPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuNhap_tblNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[tblNhanVien] ([IDNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPhieuNhap] CHECK CONSTRAINT [FK_tblPhieuNhap_tblNhanVien]
GO
ALTER TABLE [dbo].[tblTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_tblTaiKhoan_tblNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[tblNhanVien] ([IDNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTaiKhoan] CHECK CONSTRAINT [FK_tblTaiKhoan_tblNhanVien]
GO
USE [master]
GO
